examples/Hue Temperature.json
[
    {
        "id": "4e9f59149660a0d5",
        "type": "tab",
        "label": "Hue Temperature (example)",
        "disabled": false,
        "info": "Example use of the Hue Temperature node"
    },
    {
        "id": "3a0ce323d25bbb89",
        "type": "comment",
        "z": "4e9f59149660a0d5",
        "name": "FIRST STEPS (double click me)",
        "info": "Click on the \"Hue Temperature\" node and select both your bridge and a sensor from the list. If you have not yet set up a bridge, you will be asked to set one up before you can finish configuring the node.\n\nAs soon as the node is connected to your bridge and the sensor and you have deployed the changes in Node-RED, the node can receive and execute your commands. The \"Hue Temperature\" node automatically outputs a message as soon as the status of the sensor on the bridge has been updated (temperature change). You will receive the updated status and all of its information in the message that is issued.\n\nIf you would like to receive more information about this node, the possible commands and output values, then click on it once in your flow and navigate to the Node-RED book icon (top right corner).",
        "x": 150,
        "y": 40,
        "wires": [],
        "icon": "font-awesome/fa-question-circle"
    },
    {
        "id": "0ebb67a61954b5d7",
        "type": "debug",
        "z": "4e9f59149660a0d5",
        "name": "Information",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 160,
        "wires": [],
        "icon": "font-awesome/fa-info-circle"
    },
    {
        "id": "61bd0f6cab995030",
        "type": "comment",
        "z": "4e9f59149660a0d5",
        "name": "Get the current status",
        "info": "",
        "x": 120,
        "y": 120,
        "wires": []
    },
    {
        "id": "266a95ec791a4434",
        "type": "inject",
        "z": "4e9f59149660a0d5",
        "name": "Status",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"status\":true}",
        "payloadType": "json",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "20a19938c9eb011c"
            ]
        ],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "64d6a759a6ee3c70",
        "type": "comment",
        "z": "4e9f59149660a0d5",
        "name": "Turn on / off the device",
        "info": "",
        "x": 120,
        "y": 220,
        "wires": []
    },
    {
        "id": "ede50c625f3d6870",
        "type": "inject",
        "z": "4e9f59149660a0d5",
        "name": "Turn on",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "20a19938c9eb011c"
            ]
        ],
        "icon": "font-awesome/fa-circle"
    },
    {
        "id": "e8cf23462e2c1f9a",
        "type": "inject",
        "z": "4e9f59149660a0d5",
        "name": "Turn off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "20a19938c9eb011c"
            ]
        ],
        "icon": "font-awesome/fa-circle-o"
    },
    {
        "id": "20a19938c9eb011c",
        "type": "hue-temperature",
        "z": "4e9f59149660a0d5",
        "skipevents": false,
        "initevents": false,
        "x": 500,
        "y": 160,
        "wires": [
            [
                "0ebb67a61954b5d7"
            ]
        ]
    }
]