examples/Hue Buttons.json
[
    {
        "id": "d5d4a606.0f05",
        "type": "tab",
        "label": "Hue Buttons (example)",
        "disabled": false,
        "info": "Example use of the Hue Buttons node"
    },
    {
        "id": "b650df5fecbbc08d",
        "type": "comment",
        "z": "d5d4a606.0f05",
        "name": "FIRST STEPS (double click me)",
        "info": "Click on the \"Hue Buttons\" node and select both your bridge and a device from the list. If you have not yet set up a bridge, you will be asked to set one up before you can finish configuring the node.\n\nAs soon as the node is connected to your bridge and the device and you have deployed the changes in Node-RED, the node automatically outputs a message when the status of the device on the bridge has been updated (button clicked). You will receive the updated status and all of its information in the message that is issued.\n\nIf you would like to receive more information about this node, the possible commands and output values, then click on it once in your flow and navigate to the Node-RED book icon (top right corner).",
        "x": 150,
        "y": 40,
        "wires": [],
        "icon": "font-awesome/fa-question-circle"
    },
    {
        "id": "79f1f61985718e40",
        "type": "debug",
        "z": "d5d4a606.0f05",
        "name": "Information",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 160,
        "wires": [],
        "icon": "font-awesome/fa-info-circle"
    },
    {
        "id": "9b5c4dce9c98015c",
        "type": "comment",
        "z": "d5d4a606.0f05",
        "name": "Get the current status",
        "info": "",
        "x": 120,
        "y": 120,
        "wires": []
    },
    {
        "id": "74f3cdad2b625d5c",
        "type": "inject",
        "z": "d5d4a606.0f05",
        "name": "Status",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"status\":true}",
        "payloadType": "json",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "664e68b0b62d7e4e"
            ]
        ],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "664e68b0b62d7e4e",
        "type": "hue-buttons",
        "z": "d5d4a606.0f05",
        "skipevents": false,
        "initevents": false,
        "x": 450,
        "y": 160,
        "wires": [
            [
                "79f1f61985718e40"
            ]
        ]
    }
]