examples/Hue Bridge.json
[
    {
        "id": "bf04a073.be4428",
        "type": "tab",
        "label": "Hue Bridge (example)",
        "disabled": false,
        "info": "Example use of the Hue Bridge node"
    },
    {
        "id": "bacc56ae.a92d1",
        "type": "inject",
        "z": "bf04a073.be4428",
        "name": "TouchLink",
        "topic": "",
        "payload": "{\"touchLink\":true}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 60,
        "wires": [
            [
                "ea4668e7.fac4f"
            ]
        ],
        "icon": "font-awesome/fa-hand-o-right"
    },
    {
        "id": "b9a63d91.47a5e8",
        "type": "inject",
        "z": "bf04a073.be4428",
        "name": "Fetch users",
        "topic": "",
        "payload": "{\"fetch\":\"users\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "ea4668e7.fac4f"
            ]
        ],
        "icon": "font-awesome/fa-user-circle-o"
    },
    {
        "id": "effb4d48.e09bb8",
        "type": "debug",
        "z": "bf04a073.be4428",
        "name": "Information",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 630,
        "y": 120,
        "wires": [],
        "icon": "font-awesome/fa-info-circle"
    },
    {
        "id": "ea4668e7.fac4f",
        "type": "hue-bridge-node",
        "z": "bf04a073.be4428",
        "name": "",
        "autoupdates": true,
        "x": 410,
        "y": 120,
        "wires": [
            [
                "effb4d48.e09bb8"
            ]
        ]
    },
    {
        "id": "15e5be4.550a0c2",
        "type": "inject",
        "z": "bf04a073.be4428",
        "name": "Change bridge name",
        "topic": "",
        "payload": "{\"settings\":{\"name\":\"HueMagic Bridge\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 180,
        "wires": [
            [
                "ea4668e7.fac4f"
            ]
        ],
        "icon": "font-awesome/fa-toggle-on"
    }
]